name: Flutter CI

# This workflow is triggered on pushes to the repository.

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:
    
# on: push    # Default will running for every branch.1
    
jobs:
 build:
   runs-on: macos-latest
   steps:
     - uses: actions/checkout@v3
     - uses: actions/setup-java@v2
       with:
        distribution: 'zulu'
        java-version: '11'
     - uses: subosito/flutter-action@v2
       with:
        flutter-version: '3.0.5'
     - run: flutter pub get
     - run: flutter pub cache repair
     - run: flutter clean
     #- run: flutter test
     - run: flutter build apk
     - run: flutter build appbundle
